#version: '3'
services:
  db:
    image: mariadb:latest
    restart: always
    environment:
    
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: cinema
      MARIADB_USER: heidi_user
      MARIADB_PASSWORD: heidi_pass
      MARIADB_ROOT_HOST: '%'
    volumes:
      - ./db-init:/docker-entrypoint-initdb.d 
    ports:
      - "3307:3306" 

  app:
    build: .
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: cinema